# .wslconfig
# See: https://learn.microsoft.com/en-us/windows/wsl/wsl-config

{% set distro_default_config = distro_default_wsl_config_winconfig | default({}) %}
{% set default_config = default_wsl_config_winconfig | default({}) %}
{% set user_config = wsl_config_winconfig | default({}) %}
{% set winconfig = distro_default_config | combine(default_config, recursive=True) | combine(user_config, recursive=True) %}
{% for section, options in winconfig.items() %}
[{{ section }}]
{% for key, value in options.items() %}
{{ key }}={{ value }}
{% endfor %}

{% endfor %}
